<div class="container__big-card">
  <div clas="big-card__photo">
<img src="../../../assets/pokemon-horizontes.png" alt="photo" height="210px" >
  </div>

  <div class="big-card__title">
<h1><a href="https://www.poke-blast-news.net/2023/07/novo-titulo-de-episodio-do-anime-pokemon-horizontes.html" target="_blank">Novos Títulos de Episódios do Anime Pokémon Horizontes.</a></h1>
  </div>
  <div class="big-card__description">
<p><a href="#">Novos títulos de episódios do anime Pokémon Horizontes foram revelados. Confira a programação para os próximos episódios:
  Título Original: Clash! The Galar Mine!
  Título Traduzido: Confronto! A Mina de Galar!
  Data de Exibição: 15/09/23
</a></p>
  </div>
</div>
